# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json # if you’re using pnpm or yarn; otherwise remove this

# NodeJs
nodejs/node_modules/
nodejs/prisma/dev.db
nodejs/prisma/dev.db-journal

# Env / secrets
.env
.env.*
!.env.example

# Angular
.angular/
dist/
coverage/
*.local.ts

# VSCode / IDE
.vscode/
.idea/



# Build artifacts
*.tgz
*.zip
